streamlit
langchain
langchain-community
langchain-text-splitters
chromadb
pysqlite3-binary; sys_platform == "linux"
groq
python-dotenv
pandas
numpy 
sentence-transformers
beautifulsoup4
playwright
pytest